.form {
  height: 100%;
}
.header {
  height: 58px;
  padding: 14px 25px;
}
.form__body {
  background: #f7f8f9;
  height: 100%;
  padding: 50px 0 24px 0;
}
.form_question {
  margin-bottom: 32px;
  line-height: 30px;
  text-align: center;
}
.form__action {
  margin-top: auto;
  color: #3a4850;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
}
.shade-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #425a60;
}
.divider {
  height: 100%;
  width: 1px;
  background-color: #dedede;
  margin: 0 22px;
}
