.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67px 26px;
  height: calc(100vh - 66px);
  background: linear-gradient(180deg, #E8F0F2 0%, rgba(232, 240, 242, 0) 100%);
  text-align: center;
}

.home_header-offer {
  font-family: "Open Sans";
  color: #2196f3;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  margin-top: 43px;
  margin-left:2px;
  margin-bottom: 22px;
}

.home_header-description {
  color: #3a4850;
  font-weight: 700;
  font-size: 15px;
  line-height: 174%;
  text-align: center;
  width: 312px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  height: 66px;
  padding: 14px 25px;
}
